/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#about-img1,
#about-img2 {
  background-position: center;
  background-size: cover;
  border: 3px solid white;
}

nav a {
  padding: 10px;
  color: black;
}
